# PART3 パラメータをチューニングしてみよう

## おまじない

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV

## データの読み込み
- train.csvとtest.csvとsubmit_sample.csvの３つのファイルを読み込みましょう
- それぞれを読み込んだものは変数はtrain, test, sampleに代入しましょう

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample = pd.read_csv("submit_sample.csv",header = None)

In [3]:
pd.__version__

'0.23.4'

## trainから説明変数となるデータを取り出しましょう
- iloc[]を使います
- y以外を説明変数として取り出し、変数trainXに代入しましょう

In [4]:
trainX = train.iloc[:,0:17]

In [5]:
trainX

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1,39,blue-collar,married,secondary,no,1756,yes,no,cellular,3,apr,939,1,-1,0,unknown
1,2,51,entrepreneur,married,primary,no,1443,no,no,cellular,18,feb,172,10,-1,0,unknown
2,3,36,management,single,tertiary,no,436,no,no,cellular,13,apr,567,1,595,2,failure
3,4,63,retired,married,secondary,no,474,no,no,cellular,25,jan,423,1,-1,0,unknown
4,5,31,management,single,tertiary,no,354,no,no,cellular,30,apr,502,1,9,2,success
5,6,29,blue-collar,single,secondary,no,260,yes,no,unknown,2,jun,707,14,-1,0,unknown
6,7,37,services,married,secondary,no,52,yes,no,cellular,6,sep,908,1,185,9,success
7,8,32,technician,single,secondary,no,230,yes,no,cellular,18,may,442,1,266,8,failure
8,9,31,admin.,single,secondary,no,0,yes,no,cellular,7,may,895,2,295,2,failure
9,10,32,self-employed,single,tertiary,no,1815,no,no,telephone,10,aug,235,1,102,2,failure
10,11,35,self-employed,single,tertiary,no,353,no,no,cellular,12,aug,582,1,-1,0,unknown
11,12,34,technician,divorced,secondary,no,1451,yes,no,unknown,30,may,1097,15,-1,0,unknown
12,13,34,admin.,single,tertiary,no,625,no,yes,unknown,31,aug,34,1,-1,0,unknown
13,14,31,management,divorced,tertiary,no,883,yes,no,cellular,5,mar,112,2,106,1,failure
14,15,38,blue-collar,married,primary,no,5839,yes,no,unknown,4,jun,984,2,-1,0,unknown
15,16,71,technician,married,tertiary,no,383,no,no,cellular,27,apr,388,3,-1,0,unknown
16,17,62,management,married,tertiary,no,557,no,no,cellular,14,aug,185,1,-1,0,unknown
17,18,66,retired,married,secondary,no,154,no,no,cellular,15,jul,268,5,181,2,failure
18,19,46,blue-collar,married,primary,no,369,yes,no,unknown,13,may,916,2,-1,0,unknown
19,20,29,admin.,single,tertiary,no,89,yes,no,cellular,22,jul,120,1,-1,0,unknown
20,21,28,self-employed,married,tertiary,no,112,yes,yes,cellular,5,may,145,1,-1,0,unknown
21,22,67,retired,married,primary,no,708,no,no,cellular,11,sep,96,2,-1,0,unknown
22,23,42,management,married,tertiary,no,4,yes,no,cellular,17,jul,795,1,-1,0,unknown
23,24,33,admin.,divorced,secondary,no,420,yes,no,telephone,6,feb,112,2,-1,0,unknown
24,25,39,services,single,secondary,no,158,yes,no,unknown,6,jun,354,2,-1,0,unknown
25,26,57,retired,divorced,tertiary,no,66,yes,no,cellular,11,may,798,2,-1,0,unknown
26,27,43,management,single,tertiary,no,0,no,no,cellular,11,aug,155,2,-1,0,unknown
27,28,46,services,divorced,unknown,no,973,no,no,cellular,2,feb,297,1,-1,0,unknown
28,29,31,blue-collar,married,primary,no,-81,yes,no,cellular,22,jul,261,1,-1,0,unknown
29,30,36,technician,single,secondary,no,524,yes,no,cellular,8,apr,95,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27098,27099,31,admin.,divorced,secondary,no,525,no,yes,telephone,19,nov,278,7,-1,0,unknown
27099,27100,29,blue-collar,single,secondary,no,0,yes,no,unknown,29,may,106,4,-1,0,unknown
27100,27101,46,blue-collar,married,primary,no,222,no,no,cellular,8,aug,71,2,-1,0,unknown
27101,27102,32,blue-collar,married,secondary,no,14,yes,no,unknown,2,jun,171,1,-1,0,unknown
27102,27103,38,management,married,tertiary,no,551,yes,no,unknown,12,may,1875,4,-1,0,unknown
27103,27104,36,entrepreneur,married,tertiary,no,247,no,no,cellular,17,apr,351,1,-1,0,unknown
27104,27105,59,management,married,secondary,no,-1246,no,no,telephone,29,jul,175,2,-1,0,unknown
27105,27106,44,management,single,tertiary,no,5063,no,no,cellular,27,oct,418,2,-1,0,unknown
27106,27107,40,management,married,secondary,no,752,no,yes,unknown,17,jun,717,1,-1,0,unknown
27107,27108,35,admin.,married,secondary,no,348,yes,yes,cellular,15,jul,323,3,-1,0,unknown
27108,27109,33,blue-collar,married,secondary,no,661,yes,no,cellular,18,jul,968,1,-1,0,unknown
27109,27110,43,services,married,secondary,no,823,yes,no,unknown,14,may,293,3,-1,0,unknown
27110,27111,51,management,married,tertiary,no,941,yes,yes,cellular,18,jul,252,6,-1,0,unknown
27111,27112,50,unemployed,married,secondary,no,3478,yes,no,unknown,13,may,342,3,-1,0,unknown
27112,27113,45,blue-collar,married,primary,no,0,yes,no,telephone,24,jul,32,1,-1,0,unknown
27113,27114,41,entrepreneur,married,tertiary,no,1065,yes,yes,unknown,29,may,553,1,-1,0,unknown
27114,27115,43,blue-collar,married,primary,no,-93,yes,no,unknown,26,may,402,2,-1,0,unknown
27115,27116,42,management,married,tertiary,no,27696,no,no,cellular,11,aug,370,1,91,7,success
27116,27117,45,retired,divorced,secondary,no,187,yes,no,cellular,11,may,82,2,-1,0,unknown
27117,27118,30,management,single,secondary,no,19,no,no,cellular,26,aug,191,2,-1,0,unknown
27118,27119,48,blue-collar,married,secondary,no,750,no,no,cellular,5,feb,85,2,8,2,other
27119,27120,27,technician,married,tertiary,no,10451,yes,no,cellular,2,feb,45,1,-1,0,unknown
27120,27121,66,retired,married,secondary,no,3409,no,no,cellular,12,may,801,1,86,2,failure
27121,27122,37,self-employed,married,tertiary,no,2211,yes,no,cellular,25,may,143,1,-1,0,unknown
27122,27123,59,self-employed,divorced,tertiary,no,2979,yes,no,cellular,21,jul,118,3,-1,0,unknown
27123,27124,42,blue-collar,married,primary,no,1455,yes,no,cellular,2,feb,279,2,269,2,other
27124,27125,34,services,single,secondary,no,719,yes,no,unknown,15,may,362,3,-1,0,unknown
27125,27126,36,blue-collar,single,primary,no,49,yes,no,unknown,8,may,405,1,-1,0,unknown
27126,27127,33,housemaid,married,primary,no,209,no,no,cellular,12,aug,76,4,-1,0,unknown
27127,27128,29,services,single,secondary,no,40,yes,no,cellular,18,may,105,1,355,2,failure

## trainから目的変数となるデータを取り出しましょう
- yを選択し、変数yに代入しましょう

In [6]:
y = train["y"]

## testから説明変数となるデータを取り出しましょう
- testの全てのカラムが説明変数となりますので、copy関数を使って変数testXに代入します

In [7]:
testX = test.copy()

## trainXとtestXをダミー変数化しましょう

In [8]:
trainX = pd.get_dummies(trainX)
testX = pd.get_dummies(testX)

trainX.shape

## 決定木モデルの箱を用意しましょう
- 変数名をclf1とし、DT()を代入しましょう
- パラメータは一旦、max_depth=2, min_samples_leaf=500としましょう

In [9]:
clf1 = DT(max_depth=2, min_samples_leaf=500)

## クロスバリデーションをしてclf1の精度を確かめてみましょう
- cross_validate関数を使います
- オプションには、clf1, trainX, y, cv=5, scoring="roc_auc",n_jobs=-1と書きます

In [10]:
cross_validate(clf1, trainX, y, cv=5, scoring="roc_auc",n_jobs=-1)

{'fit_time': array([0.07812858, 0.07812858, 0.06249642, 0.06249022, 0.06250167]),
 'score_time': array([0.01561999, 0.        , 0.01562738, 0.01562905, 0.01562309]),
 'test_score': array([0.74657601, 0.76182968, 0.73117591, 0.73708019, 0.75909278])}

## 異なるパラメータでもう一度決定木の箱を準備しましょう
- 変数はclf2としましょう
- パラメータはmax_depth=10, min_samples_leaf=500としましょう

In [11]:
clf2 = DT(max_depth=10, min_samples_leaf=500)

## クロスバリデーションをしてclf2の精度を確かめてみましょう

In [12]:
cross_validate(clf2, trainX, y, cv=5, scoring="roc_auc",n_jobs=-1)

{'fit_time': array([0.19400334, 0.18598056, 0.19400525, 0.15871263, 0.17697096]),
 'score_time': array([0.01199532, 0.01100469, 0.01299334, 0.01562357, 0.01561975]),
 'test_score': array([0.88264002, 0.88482571, 0.86778474, 0.89240308, 0.88344359])}

## 新たな決定木モデルの箱を準備しましょう
- 変数clf3とし、今回は特にパラメータはセットしません

In [13]:
clf3 = DT()

## グリッドサーチを試してみましょう
- パラメータの範囲を指定し、その範囲をしらみつぶしに調べることで、最適なパラメータを探索することをグリッドサーチといいます
- グリッドサーチ＋クロスバリデーションの組み合わせは良くパラメータ探索の方法として利用されます
- まず探索するパラメータの範囲を表す変数parametersを作ります
- この変数を作る時、"カギ"括弧ではなく、"波"括弧であることに注意して下さい
- {"パラメータの名前①":[範囲], "パラメータの名前②":[範囲]...}のように書きます
- 今回はmax_depthを2から10まで探索してみます

In [14]:
parameters = {"max_depth":[2,3,4,5,6,7,8,9,10]}

In [15]:
parameters = {"max_depth":list(range(2,11))}

In [16]:
parameters

{'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10]}

## グリッドサーチ+クロスバリデーションで最適なパラメータを探してみましょう

- GridSearchCV関数を使います
- オプションとして、clf3, parameters, cv=5, scoring="roc_auc",n_jobs=-1と書きます
- グリッドサーチの結果は、変数gcvに代入しましょう
- その後、fit関数を使って、探索をしましょう

In [17]:
gcv = GridSearchCV(clf3, parameters, cv=5, scoring="roc_auc",n_jobs=-1)
gcv.fit(trainX,y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

## グリッドサーチの結果を見てみましょう
- cv_____results_で結果を見る事が出来ます

In [21]:
gcv.cv_results_

{'mean_fit_time': array([0.0750947 , 0.12499719, 0.17187705, 0.19687438, 0.22812061,
        0.24306517, 0.29526558, 0.26801248, 0.28546906]),
 'std_fit_time': array([0.00683687, 0.01976635, 0.03277391, 0.01593083, 0.03217725,
        0.01798679, 0.03218423, 0.01277268, 0.06336679]),
 'mean_score_time': array([0.02187939, 0.01249933, 0.00937653, 0.00625019, 0.01250167,
        0.01562872, 0.00785103, 0.01065269, 0.0080018 ]),
 'std_score_time': array([1.25023373e-02, 6.24966659e-03, 7.65590183e-03, 7.65488905e-03,
        6.25083462e-03, 3.38050306e-06, 6.98959458e-03, 4.08278182e-03,
        1.41208871e-03]),
 'param_max_depth': masked_array(data=[2, 3, 4, 5, 6, 7, 8, 9, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 2},
  {'max_depth': 3},
  {'max_depth': 4},
  {'max_depth': 5},
  {'max_depth': 6},
  {'max_depth': 7},
  {'max_depth': 8},
  {'max_depth': 9},
  {'max_depth': 10}],
 'split0_test_score': array([0.74657601, 0.82360265, 0.73033016, 0.74058989, 0.74368476,
        0.72941194, 0.73409362, 0.71121525, 0.69605987]),
 'split1_test_score': array([0.76182968, 0.82214585, 0.843183  , 0.8534447 , 0.85868336,
        0.85469672, 0.86132726, 0.8500415 , 0.84314652]),
 'split2_test_score': array([0.73117591, 0.8075016 , 0.83351987, 0.84179917, 0.84340915,
        0.84180493, 0.83241692, 0.82865313, 0.80356508]),
 'split3_test_score': array([0.73708019, 0.75197343, 0.80554008, 0.81561096, 0.82968558,
        0.85033815, 0.85348924, 0.83938799, 0.81533338]),
 'split4_test_score': array([0.75909278, 0.83208758, 0.85796085, 0.86203579, 0.86212914,
        0.84486163, 0.83189544, 0.80804729, 0.71917408]),
 'mean_test_score': array([0.74715003, 0.80746041, 0.81410356, 0.8226932 , 0.82751585,
        0.82422115, 0.82264381, 0.80746899, 0.77545993]),
 'std_test_score': array([0.01195847, 0.02885003, 0.04524916, 0.04393128, 0.04348495,
        0.04761416, 0.04576206, 0.05009202, 0.05733023]),
 'rank_test_score': array([9, 7, 5, 3, 1, 2, 4, 6, 8])}

## cv_____results_の中で重要な２つをみてみましょう
- cv_____results_["mean_train_score"]とcv_____results_["mean_test_score"]です
- それぞれ変数train_scoreとtest_scoreに代入しましょう

In [20]:
train_score = gcv.cv_results_["mean_train_score"]
test_score = gcv.cv_results_["mean_test_score"]

KeyError: 'mean_train_score'

In [49]:
test_score

array([0.74715003, 0.80746041, 0.81410356, 0.82266463, 0.82633037,
       0.8264816 , 0.82183565, 0.79180549, 0.77265825])

## train_scoreとtest_scoreを可視化しましょう
- x軸をmax_depth、y軸をaucとしてグラフを描きます
- 何も設定しないとx軸は0からスタートとなり、実際の値とずれてしまうので、調整が必要です
- 調整をする為には、plt.xticks([0,1],[2,3])のように書きます
- 上記のオプションの意味は何もしない時に0のものを2とし、1のものを3とする、という意味になります
- 今回はmax_depthを2～10まで調べたので9点あります

In [23]:
plt.plot(train_score)
plt.plot(test_score)
plt.xticks([0,1,2,3,4,5,6,7,8,9],[2,3,4,5,6,7,8,9,10])

NameError: name 'train_score' is not defined

## グリッドサーチで選ばれたパラメータを確認しましょう
- best_____params_で結果を見ることができます

In [24]:
gcv.best_params_

{'max_depth': 6}

## testの予測しましょう
- gcvもpredict_proba関数を持っており、自動的に最適なパラメータを使ったモデルで予測がされます
- 予測結果はpredに代入しましょう。その後、1の確率のみを取り出して、再びpredに代入しましょう

In [25]:
pred = gcv.predict_proba(testX)

In [26]:
pred = pred[:,1]

## predをsample[1]に代入してファイル出力し、DeepAnalyticsへ投稿しましょう
- ファイル名は「submit3_bank.csv」としましょう
- index=None,header=Noneのオプションを忘れないように書きだしましょう

In [27]:
sample[1] = pred

In [29]:
sample.to_csv("submit3_bank.csv",index=None,header=None)

# 実習

1.新たな決定木モデルの箱を変数clf4として準備してみよう。パラメータの設定は不要です

In [30]:
clf4 = DT()

2.max_depthとmin_samples_leafの値の範囲を指定した変数parameters2を作ろう
- max_depthは2～10まで、min_samples_leafは[5,10,20,50,100,500]にしましょう

In [39]:
parameters2 = {"max_depth":list(range(2,11)),"min_samples_leaf":[5,10,20,50,100,500]}

3.グリッドサーチ+クロスバリデーションで最適なパラメータを探そう。グリッドサーチの結果は変数gcv2に代入しよう

In [44]:
gcv2 = GridSearchCV(clf4, parameters2, cv=5, scoring="roc_auc",n_jobs=-1)
gcv2.fit(trainX,y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'min_samples_leaf': [5, 10, 20, 50, 100, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

4.最適なパラメータはなんだったか確かめてみよう

In [45]:
gcv2.best_params_

{'max_depth': 10, 'min_samples_leaf': 50}

5.testの予測をし、予測結果のうち、１となる確率のみを変数pred2に代入しよう

In [46]:
pred2 = gcv2.predict_proba(testX)
pred2 = pred2[:,1]

6.pred2をsample[1]に代入して"submit4_bank.csv"としてファイル出力し、DeepAnalyticsへ投稿しよう

In [47]:
sample[1]=pred2
sample.to_csv("submit4_bank.csv",index=None,header=None)